################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/webapiskeleton/bin
/webapiskeleton/log
/webapiskeleton/obj/Debug
